// Colors
$clr-background: #fcdab7;
$clr-toy: #1e5f74;
$clr-toy-hover: #133b5c;

// Container Size
$container-width: 800px;


// // Breakpoints
// $mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;








// // Colors
// $clr1: #ce2e6c;
// $clr2: #4f3a65;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;

// // Breakpoints
// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;